PORT=3000
NODE_ENV=production

BOT_TOKEN=
WEB_APP_URL=
PUBLIC_BASE_URL=
WEBHOOK_SECRET=

SESSION_JWT_SECRET=

REMNAWAVE_BASE_URL=
REMNAWAVE_ACCESS_TOKEN=
REMNAWAVE_USERNAME=
REMNAWAVE_PASSWORD=

REMNAWAVE_INTERNAL_SQUAD_UUIDS=
REMNAWAVE_DEFAULT_TRAFFIC_LIMIT_BYTES=0

PAYMENT_WEBHOOK_SECRET=
# CORS_ORIGIN=https://...